#root {
  font-family: 'Funnel Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;
  min-width: 100%;
  padding: 0px !important;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  height: 100vh;
  padding: 0;
}

@font-face {
  font-family: 'Funnel Sans';
  src: local('Funnel Sans'), url(/fonts/FunnelSans-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Funnel Sans';
  font-weight: bold;
  src: local('Funnel Sans Bold'), url(/fonts/FunnelSans-Bold.woff) format('woff');
}
